Repository spring-projects/spring-framework, pull requests merged in 2019-07, with the labels that each got.

#23237 Use StringJoiner where possible to simplify String joining
  spring-beans/src/main/java/org/springframework/beans/PropertyBatchUpdateException.java
  spring-core/src/main/java/org/springframework/core/ResolvableType.java
  spring-core/src/main/java/org/springframework/util/ClassUtils.java
  spring-web/src/main/java/org/springframework/web/util/pattern/PathPattern.java
Labels: in: core, type: task

#23239 Rename PathPatternRouteMatcherTest to PathPatternRouteMatcherTests
  spring-web/src/test/java/org/springframework/web/util/pattern/PathPatternRouteMatcherTests.java
Labels: type: task

#23247 typo fix
  src/docs/asciidoc/data-access.adoc
Labels: type: documentation

#23267 Avoid unnecessary boxing where primitives can be used
  spring-aop/src/main/java/org/springframework/aop/config/ScopedProxyBeanDefinitionDecorator.java
  spring-beans/src/main/java/org/springframework/beans/factory/annotation/RequiredAnnotationBeanPostProcessor.java
  spring-context/src/main/java/org/springframework/cache/config/CacheAdviceParser.java
  spring-context/src/main/java/org/springframework/context/annotation/ComponentScanBeanDefinitionParser.java
  spring-context/src/main/java/org/springframework/scheduling/config/AnnotationDrivenBeanDefinitionParser.java
  spring-context/src/main/java/org/springframework/scheduling/config/TaskExecutorFactoryBean.java
  spring-context/src/main/java/org/springframework/scheduling/support/CronSequenceGenerator.java
  spring-context/src/main/java/org/springframework/scripting/support/ScriptFactoryPostProcessor.java
  spring-messaging/src/main/java/org/springframework/messaging/simp/stomp/StompHeaderAccessor.java
  spring-messaging/src/main/java/org/springframework/messaging/simp/stomp/StompHeaders.java
  spring-orm/src/main/java/org/springframework/orm/jpa/persistenceunit/PersistenceUnitReader.java
  spring-tx/src/main/java/org/springframework/transaction/config/TxAdviceBeanDefinitionParser.java
  spring-web/src/main/java/org/springframework/http/codec/ServerSentEventHttpMessageReader.java
  spring-webmvc/src/main/java/org/springframework/web/servlet/config/AnnotationDrivenBeanDefinitionParser.java
  spring-websocket/src/main/java/org/springframework/web/socket/config/HandlersBeanDefinitionParser.java
  spring-websocket/src/main/java/org/springframework/web/socket/config/MessageBrokerBeanDefinitionParser.java
  spring-websocket/src/main/java/org/springframework/web/socket/sockjs/client/AbstractClientSockJsSession.java
Labels: type: task

#23281 Use computeIfAbsent in LocalVariableTableParameterNameDiscoverer
  spring-core/src/main/java/org/springframework/core/LocalVariableTableParameterNameDiscoverer.java
Labels: in: core, type: task

#23364 Add since tag for ClientResponse.Builder.request()
  spring-webflux/src/main/java/org/springframework/web/reactive/function/client/ClientResponse.java
Labels: type: documentation
