Repository spring-projects/spring-framework, pull requests merged in 2020-06, with the labels that each got.

#25192 Fix obsolete link in Kotlin docs
  src/docs/asciidoc/languages/kotlin.adoc
Labels: type: documentation

#25239 Add tests for Assert.noNullElements(Collection, ...)
  spring-core/src/test/java/org/springframework/util/AssertTests.java
Labels: in: core, type: task

#25261 Remove redundant assignment of default values to volatile fields
  spring-beans/src/main/java/org/springframework/beans/MutablePropertyValues.java
  spring-beans/src/main/java/org/springframework/beans/factory/annotation/AutowiredAnnotationBeanPostProcessor.java
  spring-beans/src/main/java/org/springframework/beans/factory/support/DefaultListableBeanFactory.java
  spring-beans/src/main/java/org/springframework/beans/factory/support/RootBeanDefinition.java
  spring-context/src/main/java/org/springframework/ejb/access/AbstractRemoteSlsbInvokerInterceptor.java
  spring-context/src/main/java/org/springframework/ejb/access/LocalSlsbInvokerInterceptor.java
  spring-context/src/main/java/org/springframework/scheduling/concurrent/ThreadPoolTaskScheduler.java
  spring-context/src/main/java/org/springframework/scheduling/support/PeriodicTrigger.java
  spring-core/src/main/java/org/springframework/util/MimeTypeUtils.java
  spring-jdbc/src/main/java/org/springframework/jdbc/core/simple/AbstractJdbcCall.java
  spring-jdbc/src/main/java/org/springframework/jdbc/core/simple/AbstractJdbcInsert.java
  spring-jms/src/main/java/org/springframework/jms/listener/AbstractJmsListeningContainer.java
  spring-jms/src/main/java/org/springframework/jms/listener/DefaultMessageListenerContainer.java
  spring-messaging/src/main/java/org/springframework/messaging/core/GenericMessagingTemplate.java
  spring-messaging/src/main/java/org/springframework/messaging/simp/annotation/support/SimpAnnotationMethodMessageHandler.java
  spring-messaging/src/main/java/org/springframework/messaging/simp/broker/AbstractBrokerMessageHandler.java
  spring-messaging/src/main/java/org/springframework/messaging/simp/broker/DefaultSubscriptionRegistry.java
  spring-messaging/src/main/java/org/springframework/messaging/simp/stomp/DefaultStompSession.java
  spring-messaging/src/main/java/org/springframework/messaging/simp/user/UserDestinationMessageHandler.java
  spring-messaging/src/main/java/org/springframework/messaging/tcp/reactor/ReactorNettyTcpClient.java
  spring-orm/src/main/java/org/springframework/orm/jpa/ExtendedEntityManagerCreator.java
  spring-tx/src/main/java/org/springframework/jca/endpoint/GenericMessageEndpointManager.java
  spring-web/src/main/java/org/springframework/http/converter/json/Jackson2ObjectMapperBuilder.java
  spring-web/src/main/java/org/springframework/web/context/request/async/DeferredResult.java
  spring-webflux/src/main/java/org/springframework/web/reactive/socket/server/support/HandshakeWebSocketService.java
  spring-webflux/src/main/java/org/springframework/web/reactive/socket/server/upgrade/JettyRequestUpgradeStrategy.java
  spring-webmvc/src/main/java/org/springframework/web/servlet/FrameworkServlet.java
  spring-websocket/src/main/java/org/springframework/web/socket/client/ConnectionManagerSupport.java
  spring-websocket/src/main/java/org/springframework/web/socket/messaging/SubProtocolWebSocketHandler.java
  spring-websocket/src/main/java/org/springframework/web/socket/messaging/WebSocketStompClient.java
  spring-websocket/src/main/java/org/springframework/web/socket/server/jetty/JettyRequestUpgradeStrategy.java
  spring-websocket/src/main/java/org/springframework/web/socket/server/support/AbstractHandshakeHandler.java
  spring-websocket/src/main/java/org/springframework/web/socket/server/support/WebSocketHandlerMapping.java
  spring-websocket/src/main/java/org/springframework/web/socket/server/support/WebSocketHttpRequestHandler.java
  spring-websocket/src/main/java/org/springframework/web/socket/sockjs/client/SockJsClient.java
  spring-websocket/src/main/java/org/springframework/web/socket/sockjs/client/WebSocketTransport.java
  spring-websocket/src/main/java/org/springframework/web/socket/sockjs/support/SockJsHttpRequestHandler.java
Labels: in: core, type: task

#25256 Rollback reactive transaction on cancel
  spring-tx/src/main/java/org/springframework/transaction/interceptor/TransactionAspectSupport.java
  spring-tx/src/main/java/org/springframework/transaction/reactive/TransactionalOperatorImpl.java
  spring-tx/src/main/kotlin/org/springframework/transaction/reactive/TransactionalOperatorExtensions.kt
  spring-tx/src/test/java/org/springframework/transaction/annotation/AnnotationTransactionInterceptorTests.java
  spring-tx/src/test/java/org/springframework/transaction/reactive/TransactionalOperatorTests.java
  spring-tx/src/test/kotlin/org/springframework/transaction/reactive/TransactionalOperatorExtensionsTests.kt
  spring-tx/src/testFixtures/java/org/springframework/transaction/testfixture/ReactiveCallCountingTransactionManager.java
  src/docs/asciidoc/data-access.adoc
Labels: in: data, type: enhancement

#25277 add @Override in class AnnotationBeanConfigurerAspect
  spring-aspects/src/main/java/org/springframework/beans/factory/aspectj/AnnotationBeanConfigurerAspect.aj
Labels: in: core, type: task

#25305 Use JDBC 4 API for connection validation
  spring-jdbc/src/main/java/org/springframework/jdbc/support/DatabaseStartupValidator.java
  spring-jdbc/src/test/java/org/springframework/jdbc/support/DatabaseStartupValidatorTests.java
Labels: in: data, type: enhancement

#25308 simplify the code, replace if with switch
  spring-webmvc/src/main/java/org/springframework/web/servlet/config/ViewControllerBeanDefinitionParser.java
Labels: in: web, type: task

#25319 Replace anonymous inner classes with lambda expressions
  spring-web/src/main/java/org/springframework/http/client/SimpleBufferingAsyncClientHttpRequest.java
  spring-web/src/main/java/org/springframework/http/client/SimpleStreamingAsyncClientHttpRequest.java
Labels: in: web, type: task
