Repository spring-projects/spring-framework, pull requests merged in 2020-10, with the labels that each got.

#25846 Drop explicit zeroing at instantiation of Atomic* objects
  integration-tests/src/test/java/org/springframework/scheduling/annotation/ScheduledAndTransactionalAnnotationIntegrationTests.java
  spring-aop/src/main/java/org/springframework/aop/support/ControlFlowPointcut.java
  spring-beans/src/test/java/org/springframework/beans/factory/FactoryBeanTests.java
  spring-context/src/test/java/org/springframework/cache/interceptor/CacheProxyFactoryBeanTests.java
  spring-core/src/main/java/org/springframework/util/ConcurrentReferenceHashMap.java
  spring-core/src/main/java/org/springframework/util/CustomizableThreadCreator.java
  spring-core/src/main/java/org/springframework/util/SimpleIdGenerator.java
  spring-expression/src/main/java/org/springframework/expression/spel/standard/SpelExpression.java
  spring-messaging/src/main/java/org/springframework/messaging/simp/broker/AbstractBrokerMessageHandler.java
  spring-messaging/src/main/java/org/springframework/messaging/simp/broker/OrderedMessageChannelDecorator.java
  spring-messaging/src/test/java/org/springframework/messaging/rsocket/DefaultRSocketRequesterTests.java
  spring-messaging/src/test/java/org/springframework/messaging/rsocket/RSocketClientToServerIntegrationTests.java
  spring-messaging/src/test/java/org/springframework/messaging/support/ChannelInterceptorTests.java
  spring-orm/src/test/java/org/springframework/orm/jpa/support/OpenEntityManagerInViewTests.java
  spring-test/src/main/java/org/springframework/test/context/transaction/TransactionContext.java
  spring-test/src/test/java/org/springframework/mock/web/MockHttpSessionTests.java
  spring-test/src/test/java/org/springframework/test/context/cache/ClassLevelDirtiesContextTestNGTests.java
  spring-test/src/test/java/org/springframework/test/context/cache/ClassLevelDirtiesContextTests.java
  spring-test/src/test/java/org/springframework/test/context/configuration/interfaces/DirtiesContextInterfaceTests.java
  spring-test/src/test/java/org/springframework/test/web/servlet/samples/spr/HttpOptionsTests.java
  spring-tx/src/main/java/org/springframework/transaction/reactive/AbstractReactiveTransactionManager.java
  spring-web/src/main/java/org/springframework/http/client/reactive/ReactorClientHttpResponse.java
  spring-web/src/main/java/org/springframework/http/codec/multipart/SynchronossPartHttpMessageReader.java
  spring-web/src/main/java/org/springframework/http/server/ServletServerHttpAsyncRequestControl.java
  spring-web/src/main/java/org/springframework/http/server/reactive/ReactorServerHttpRequest.java
  spring-web/src/main/java/org/springframework/web/context/request/async/StandardServletAsyncWebRequest.java
  spring-web/src/test/java/org/springframework/http/client/reactive/ReactorResourceFactoryTests.java
  spring-web/src/test/java/org/springframework/http/codec/support/ClientCodecConfigurerTests.java
  spring-web/src/test/java/org/springframework/http/codec/support/CodecConfigurerTests.java
  spring-web/src/test/java/org/springframework/http/codec/support/ServerCodecConfigurerTests.java
  spring-web/src/test/java/org/springframework/http/server/reactive/ContextPathCompositeHandlerTests.java
  spring-web/src/test/java/org/springframework/web/server/adapter/WebHttpHandlerBuilderTests.java
  spring-websocket/src/main/java/org/springframework/web/socket/sockjs/client/DefaultTransportRequest.java
  spring-websocket/src/main/java/org/springframework/web/socket/sockjs/client/WebSocketTransport.java
  spring-websocket/src/main/java/org/springframework/web/socket/sockjs/transport/handler/SockJsWebSocketHandler.java
Labels: in: core, type: task

#25852 Add Dependencies Manifest Entry to spring-core
  spring-core/spring-core.gradle
Labels: in: core, type: enhancement

#25893 Fix a few typos in the web reference docs
  src/docs/asciidoc/web/webflux.adoc
  src/docs/asciidoc/web/webmvc-functional.adoc
  src/docs/asciidoc/web/webmvc.adoc
Labels: status: waiting-for-triage, type: task

#25936 Wording changes. Fixed typo 'CorsConfiguraiton'
  src/docs/asciidoc/web/webflux-websocket.adoc
Labels: type: task

#25942 WebSocketTransportRegistration: javadoc typo
  spring-websocket/src/main/java/org/springframework/web/socket/config/annotation/WebSocketTransportRegistration.java
Labels: in: web, type: task

#25991 Remove rogue semicolon in WebClient docs
  src/docs/asciidoc/web/webflux-webclient.adoc
Labels: type: task
