Repository spring-projects/spring-framework, pull requests merged in 2020-01, with the labels that each got.

#24295 Optimize SimpleAliasRegistry hasAlias implementation
  spring-core/src/main/java/org/springframework/core/SimpleAliasRegistry.java
Labels: in: core, type: enhancement

#24293 Improve ExposeInvocationInterceptor exception message
  spring-aop/src/main/java/org/springframework/aop/interceptor/ExposeInvocationInterceptor.java
Labels: in: core, type: enhancement

#24305 Merge getCallableInterceptors and getDeferredResultInterceptors
  spring-webmvc/src/main/java/org/springframework/web/servlet/config/AnnotationDrivenBeanDefinitionParser.java
Labels: in: web, type: enhancement

#24310 Trim line in LineInfo only once
  spring-webflux/src/main/java/org/springframework/web/reactive/resource/AppCacheManifestTransformer.java
  spring-webmvc/src/main/java/org/springframework/web/servlet/resource/AppCacheManifestTransformer.java
Labels: in: web, type: enhancement

#24282 Add fast path for ClassUtils.hasMethod
  spring-aop/src/main/java/org/springframework/aop/framework/CglibAopProxy.java
  spring-beans/src/main/java/org/springframework/beans/factory/support/AutowireUtils.java
  spring-context/src/main/java/org/springframework/jmx/export/assembler/InterfaceBasedMBeanInfoAssembler.java
  spring-context/src/main/java/org/springframework/validation/beanvalidation/MethodValidationInterceptor.java
  spring-core/src/main/java/org/springframework/util/ClassUtils.java
Labels: in: core, type: enhancement

#24344 Fix typo in ReflectionUtilsTests
  spring-core/src/test/java/org/springframework/util/ReflectionUtilsTests.java
Labels: type: task

#24351 Add tests for StringUtils split() method
  spring-core/src/test/java/org/springframework/util/StringUtilsTests.java
Labels: in: core, type: task

#24358 Simplify getParsedSql() method in NamedParameterJdbcTemplate
  spring-jdbc/src/main/java/org/springframework/jdbc/core/namedparam/NamedParameterJdbcTemplate.java
Labels: in: data, type: enhancement

#24250 Update Artifactory plugin to 4.12.0
  build.gradle
Labels: type: task

#24371 Publish a build scan only if authenticated
  build.gradle
Labels: type: task

#24388 Hoist concatenation of two constant Strings out of loops
  spring-beans/src/main/java/org/springframework/beans/factory/support/PropertiesBeanDefinitionReader.java
  spring-core/src/main/java/org/springframework/core/type/classreading/AnnotationMetadataReadingVisitor.java
Labels: type: task

#24418 Fix typo in Javadoc
  spring-web/src/main/java/org/springframework/web/server/adapter/HttpWebHandlerAdapter.java
Labels: type: task

#24419 Simplify UrlFileNameViewController#getViewNameForUrlPath()
  spring-webmvc/src/main/java/org/springframework/web/servlet/mvc/UrlFilenameViewController.java
Labels: in: web, type: task

#24420 Solve ReflectPermission issue in sandbox security policy model for repackaged CGLIB ReflectUtils
  spring-core/src/main/java/org/springframework/cglib/core/ReflectUtils.java
Labels: in: core, type: enhancement

#24437 Update integration.adoc
  src/docs/asciidoc/integration.adoc
Labels: type: task

#24447 Some trivial improvements to reduce allocation pressure
  spring-beans/src/main/java/org/springframework/beans/support/ArgumentConvertingMethodInvoker.java
  spring-core/src/main/java/org/springframework/core/GenericTypeResolver.java
  spring-core/src/main/java/org/springframework/core/type/classreading/MethodMetadataReadingVisitor.java
Labels: in: core, type: task

#24443 Add Informix to supported database products for procedure calls
  spring-jdbc/src/main/java/org/springframework/jdbc/core/metadata/CallMetaDataProviderFactory.java
Labels: in: data, status: backported, type: enhancement

#24463 Polish length calculation in PropertiesBeanDefinitionReader
  spring-beans/src/main/java/org/springframework/beans/factory/support/PropertiesBeanDefinitionReader.java
Labels: in: core, type: task
