Repository spring-projects/spring-framework, pull requests merged in 2020-09, with the labels that each got.

#25656 Copy httpHandlerDecorator in copy constructor for WebHttpHandlerBuilder
  spring-web/src/main/java/org/springframework/web/server/adapter/WebHttpHandlerBuilder.java
  spring-web/src/test/java/org/springframework/web/server/adapter/WebHttpHandlerBuilderTests.java
Labels: in: web, type: bug

#25668 change assert in replaceOverride constructor from methodName to metho…
  spring-beans/src/main/java/org/springframework/beans/factory/support/ReplaceOverride.java
Labels: in: core, type: task

#25684 Replace StringBuffer with StringBuilder where possible
  spring-aop/src/test/java/org/springframework/aop/interceptor/CustomizableTraceInterceptorTests.java
  spring-context/src/test/java/org/springframework/beans/factory/xml/XmlBeanFactoryTestTypes.java
  spring-context/src/test/java/org/springframework/beans/factory/xml/XmlBeanFactoryTests.java
  spring-context/src/test/java/org/springframework/scripting/MessengerScrambler.java
  spring-core/src/main/java/org/springframework/cglib/core/ReflectUtils.java
Labels: in: core, type: task

#25759 Fix typo regarding Ordered interface in core-aop.adoc
  src/docs/asciidoc/core/core-aop.adoc
Labels: type: documentation

#25763 Fix typo in AOP XML documentation
  src/docs/asciidoc/core/core-aop.adoc
Labels: type: task

#25767 Fix typo in Regular Expression Pointcuts docs
  src/docs/asciidoc/core/core-aop-api.adoc
Labels: in: core, type: documentation

#25810 Optimize StringUtils trimLeading/Trailing methods
  spring-core/src/main/java/org/springframework/util/StringUtils.java
Labels: in: core, type: enhancement
