Repository spring-projects/spring-framework, pull requests merged in 2021-11, with the labels that each got.

#27646 Use 'toString(Charset)' instead of 'toString(String)' for encodings
  spring-context-indexer/src/main/java/org/springframework/context/index/processor/SortedProperties.java
  spring-core/src/main/java/org/springframework/core/SortedProperties.java
  spring-core/src/main/java/org/springframework/core/convert/support/PropertiesToStringConverter.java
  spring-core/src/main/java/org/springframework/util/StreamUtils.java
  spring-messaging/src/main/java/org/springframework/messaging/converter/ProtobufMessageConverter.java
  spring-test/src/main/java/org/springframework/mock/web/MockHttpServletResponse.java
  spring-web/src/main/java/org/springframework/http/codec/FormHttpMessageReader.java
  spring-web/src/main/java/org/springframework/http/codec/FormHttpMessageWriter.java
  spring-web/src/main/java/org/springframework/http/converter/FormHttpMessageConverter.java
  spring-web/src/main/java/org/springframework/http/server/ServletServerHttpRequest.java
  spring-web/src/testFixtures/java/org/springframework/web/testfixture/servlet/MockHttpServletResponse.java
  spring-websocket/src/main/java/org/springframework/web/socket/sockjs/client/RestTemplateXhrTransport.java
Labels: in: web, in: core, type: enhancement

#27554 Use Charset variants of URLEncoder and URLDecoder methods
  spring-beans/src/main/java/org/springframework/beans/factory/xml/ResourceEntityResolver.java
  spring-oxm/src/main/java/org/springframework/oxm/jaxb/Jaxb2Marshaller.java
  spring-test/src/main/java/org/springframework/test/web/servlet/htmlunit/HtmlUnitRequestBuilder.java
  spring-web/src/main/java/org/springframework/http/codec/FormHttpMessageReader.java
  spring-web/src/main/java/org/springframework/http/codec/FormHttpMessageWriter.java
  spring-web/src/main/java/org/springframework/http/server/reactive/AbstractServerHttpRequest.java
  spring-webflux/src/main/java/org/springframework/web/reactive/resource/PathResourceResolver.java
  spring-webflux/src/main/java/org/springframework/web/reactive/resource/ResourceWebHandler.java
  spring-webmvc/src/main/java/org/springframework/web/servlet/resource/PathResourceResolver.java
  spring-webmvc/src/main/java/org/springframework/web/servlet/resource/ResourceHttpRequestHandler.java
  spring-webmvc/src/test/java/org/springframework/web/servlet/support/FlashMapManagerTests.java
Labels: type: task

#27692 Fix javax.servlet doc to jakarta.servlet
  gradle/docs-dokka.gradle
  src/docs/asciidoc/languages/dynamic-languages.adoc
  src/docs/asciidoc/web/webmvc.adoc
Labels: in: web, type: task
