Repository spring-projects/spring-framework, pull requests merged in 2021-06, with the labels that each got.

#26995 issue-26994 add missing ) to kotlin example
  src/docs/asciidoc/core/core-beans.adoc
Labels: type: task

#27016 Adjust expected IdentityHashMap sizes in ClassUtils
  spring-core/src/main/java/org/springframework/util/ClassUtils.java
Labels: in: core, type: task

#27012 Simplify String construction in StringUtils.changeFirstCharacterCase()
  spring-core/src/main/java/org/springframework/util/StringUtils.java
Labels: in: core, type: task

#27033 Remove redundant Collections.unmodifiableList()
  spring-web/src/main/java/org/springframework/web/cors/CorsConfiguration.java
Labels: in: web, type: task

#27036 Update WebMvcConfigurationSupport javadoc for HandlerFunctionAdapter
  spring-webmvc/src/main/java/org/springframework/web/servlet/config/annotation/WebMvcConfigurationSupport.java
Labels: in: web, type: task

#27037 Clean up @SuppressWarnings("ConstantConditions")
  spring-messaging/src/main/java/org/springframework/messaging/handler/annotation/support/DefaultMessageHandlerMethodFactory.java
  spring-messaging/src/main/java/org/springframework/messaging/rsocket/annotation/support/RSocketFrameTypeMessageCondition.java
  spring-web/src/main/java/org/springframework/web/cors/CorsConfiguration.java
Labels: in: messaging, in: web, type: task

#27031 Document that class-level @ResponseStatus is inherited by @ExceptionHandler methods
  spring-web/src/main/java/org/springframework/web/bind/annotation/ResponseStatus.java
Labels: in: web, type: documentation

#27051 Fix master->main in contribution guide
  CONTRIBUTING.md
Labels: type: task

#27058 Fix assertion in XmlBeanFactoryTests
  spring-context/src/test/java/org/springframework/beans/factory/xml/XmlBeanFactoryTests.java
Labels: type: task

#27042 Improve RequestResponseBodyMethodProcessor Javadoc
  spring-webmvc/src/main/java/org/springframework/web/servlet/mvc/method/annotation/RequestResponseBodyMethodProcessor.java
Labels: in: web, type: documentation

#27043 Improve RequestPartMethodArgumentResolver Javadoc
  spring-webmvc/src/main/java/org/springframework/web/servlet/mvc/method/annotation/RequestPartMethodArgumentResolver.java
Labels: in: web, type: documentation
