Repository spring-projects/spring-framework, pull requests merged in 2021-07, with the labels that each got.

#27100 Improve performance of iteration in GroovyBeanDefinitionReader
  spring-beans/src/main/java/org/springframework/beans/factory/groovy/GroovyBeanDefinitionReader.java
Labels: in: core, type: task

#26700 Apply dynamic changes in ThreadPoolTaskExecutor before setting local value
  spring-context/src/main/java/org/springframework/scheduling/concurrent/ThreadPoolTaskExecutor.java
  spring-context/src/test/java/org/springframework/scheduling/concurrent/ThreadPoolTaskExecutorTests.java
Labels: in: core, type: enhancement

#27067 Fix error in reference doc for content negotiation, default settings
  src/docs/asciidoc/web/webmvc.adoc
Labels: in: web, type: documentation

#27218 Fix typo in Javadoc in AbstractHandlerMapping
  spring-webmvc/src/main/java/org/springframework/web/servlet/handler/AbstractHandlerMapping.java
Labels: in: web, type: task

#27223 Fix reference to Optional.isPresent() in ObjectUtils.isEmpty()
  spring-core/src/main/java/org/springframework/util/ObjectUtils.java
Labels: in: core, type: documentation

#27234 Simplify getInternalBeanFactoryForBean
  spring-aop/src/main/java/org/springframework/aop/framework/autoproxy/target/AbstractBeanFactoryBasedTargetSourceCreator.java
Labels: in: core, type: task
