Repository spring-projects/spring-framework, pull requests merged in 2022-12, with the labels that each got.

#29632 Fix ErrorResponse#type documentation
  spring-web/src/main/java/org/springframework/web/ErrorResponse.java
Labels: type: documentation, in: web

#29645 Fall back to JdkClientHttpConnector as ClientHttpConnector
  spring-test/src/main/java/org/springframework/test/web/reactive/server/DefaultWebTestClientBuilder.java
Labels: in: test, type: enhancement

#29640 Polish var-args declarations
  spring-test/src/main/java/org/springframework/test/web/client/match/JsonPathRequestMatchers.java
  spring-test/src/main/java/org/springframework/test/web/servlet/result/XpathResultMatchers.java
Labels: in: test, type: task

#29676 Use consistent visibility for ResponseEntityExceptionHandler.getMessageSource()
  spring-webflux/src/main/java/org/springframework/web/reactive/result/method/annotation/ResponseEntityExceptionHandler.java
Labels: in: web, type: task

#29693 Fix manipulating property sources example in Javadoc for `ConfigurableEnvironment`
  spring-core/src/main/java/org/springframework/core/env/ConfigurableEnvironment.java
Labels: type: documentation

#29710 Apply "instanceof pattern matching"
  spring-aop/src/main/java/org/springframework/aop/framework/DefaultAdvisorChainFactory.java
Labels: type: task, in: core
