Repository spring-projects/spring-framework, pull requests merged in 2023-09, with the labels that each got.

#31187 Update to antora-ui-spring 0.3.6
  antora-playbook.yml
  lib/antora/templates/per-branch-antora-playbook.yml
Labels: type: task

#31227 Eliminate synchronized block to avoid thread pinning in SingletonSupplier
  spring-core/src/main/java/org/springframework/util/function/SingletonSupplier.java
Labels: in: core, type: enhancement

#31235 Improve wording in Javadoc for `@Autowired`
  spring-beans/src/main/java/org/springframework/beans/factory/annotation/Autowired.java
Labels: status: waiting-for-triage, type: documentation

#31234 Add constructors to take ObjectMapper
  spring-jms/src/main/java/org/springframework/jms/support/converter/MappingJackson2MessageConverter.java
  spring-messaging/src/main/java/org/springframework/messaging/converter/MappingJackson2MessageConverter.java
Labels: in: messaging, type: enhancement
