Repository spring-projects/spring-framework, pull requests merged in 2023-12, with the labels that each got.

#31784 Add `MySQLIdentityColumnMaxValueIncrementer`
  spring-jdbc/src/main/java/org/springframework/jdbc/support/incrementer/MySQLIdentityColumnMaxValueIncrementer.java
  spring-jdbc/src/test/java/org/springframework/jdbc/support/incrementer/DataFieldMaxValueIncrementerTests.java
Labels: in: data, type: enhancement

#30231 Fix `SimpleJdbcCall` named parameter binding for Sybase ASE
  spring-jdbc/src/main/java/org/springframework/jdbc/core/metadata/CallMetaDataContext.java
  spring-jdbc/src/main/java/org/springframework/jdbc/core/metadata/CallMetaDataProvider.java
  spring-jdbc/src/main/java/org/springframework/jdbc/core/metadata/GenericCallMetaDataProvider.java
  spring-jdbc/src/main/java/org/springframework/jdbc/core/metadata/SybaseCallMetaDataProvider.java
  spring-jdbc/src/test/java/org/springframework/jdbc/core/simple/SimpleJdbcCallTests.java
Labels: in: data, type: enhancement

#31796 Fix link text in WebFlux `@HttpExchange` section of reference docs
  framework-docs/modules/ROOT/pages/web/webflux/controller/ann-requestmapping.adoc
Labels: type: documentation

#31506 Support direct shard database operation routing in Spring JDBC
  spring-jdbc/src/main/java/org/springframework/jdbc/core/ShardingKeyProvider.java
  spring-jdbc/src/main/java/org/springframework/jdbc/datasource/ShardingKeyDataSourceAdapter.java
  spring-jdbc/src/test/java/org/springframework/jdbc/datasource/ShardingKeyDataSourceAdapterTests.java
Labels: in: data, type: enhancement

#31847 Polish if statement in ScopedProxyBeanDefinitionDecorator
  spring-aop/src/main/java/org/springframework/aop/config/ScopedProxyBeanDefinitionDecorator.java
Labels: type: task

#31899 Fix formatting in scheduling.adoc
  framework-docs/modules/ROOT/pages/integration/scheduling.adoc
Labels: status: waiting-for-triage
