Repository spring-projects/spring-framework, pull requests merged in 2023-03, with the labels that each got.

#30136 Optimize some iterations in BodyExtractor and BodyInserter
  spring-web/src/main/java/org/springframework/http/client/reactive/AbstractClientHttpRequest.java
  spring-webflux/src/main/java/org/springframework/web/reactive/function/BodyExtractors.java
  spring-webflux/src/main/java/org/springframework/web/reactive/function/BodyInserters.java
Labels: in: web, type: enhancement

#30204 Use diamond operator in examples in reference manual
  framework-docs/src/docs/asciidoc/core/core-appendix.adoc
  framework-docs/src/docs/asciidoc/core/core-expressions.adoc
  framework-docs/src/docs/asciidoc/data-access.adoc
  framework-docs/src/docs/asciidoc/web/webmvc.adoc
Labels: type: documentation

#30108 Documentation for Vavr's Try method to trigger transaction rollbacks
  framework-docs/src/docs/asciidoc/data-access.adoc
Labels: in: data, type: documentation
